<table class="table">
  <thead>
  <tr>

    <th scope="col">Original value</th>
    <th scope="col">Pipe name</th>
    <th scope="col">After transform</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ loremValue }}</td>
    <td>uppercase</td>
    <td>{{ loremValue | uppercase}}</td>
  </tr>

  <tr>
    <td>{{ loremValue2 }}</td>
    <td>lowercase</td>
    <td>{{ loremValue2 | lowercase}}</td>
  </tr>

  <tr>
    <td>{{ jsonObject }}</td>
    <td>json pipe</td>
    <td>{{ jsonObject | json}}</td>
  </tr>

  <tr>
    <td>{{ percentTest }}</td>
    <td>percent conversion</td>
    <td>{{ percentTest | percent}}</td>
  </tr>

  <tr>
    <td>{{ today }}</td>
    <td>date conversion</td>
    <td>{{ today | date: 'medium' }}</td>
  </tr>

  </tbody>
</table>

<!--ngIf, ngFor, Custom Directive, kebab to snakeCase-->
